{% extends "base.html" %}

{% block content %}
<h1>All Albums</h1>

<p><a href="{% url 'add_album' %}">Add New Contact</a></p>

<div class="flex flex-wrap">
  {% for album in albums %}
  <div class="w-33 pa3">
    <h2>{{ album.title }}</h2>

    

    {% if album.release %}
    <div class="flex">
      <div class="pr2"><i class="icofont-phone"></i></div>
      <div>{{ album.release }}</div>
    </div>
    {% endif %}

    {% if contact.email %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ contact.email }}</div>
    </div>
    {% endif %}

    {% if contact.birthday %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-birthday"></i></div>
      <div>{{ contact.birthday }}</div>
    </div>
    {% endif %}

    <p>
      <a href="{% url 'edit_contact' pk=contact.pk %}">Edit Contact</a><br>    
      <a class="red" href="{% url 'delete_contact' pk=contact.pk %}">Delete Contact</a>
    </p>
  </div>
  {% endfor %}
</div>  
{% endblock %}
